*.iml
.gradle
/local.properties
/gradle.properties
/.idea/*
/.idea/libraries
.DS_Store
/build
/captures
/app/local.properties
.idea/inspectionProfiles/
.idea/shelf/
app/src/main/res/color/
projectFilesBackup/
app/maindexlist.txt
app/sampledata/
app/src/main/res/drawable/pop_down.9.png
app/src/main/res/drawable/pop_up.9.png
.idea/
