<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gs.buluo.app">

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--信鸽-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 【常用】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 【可选】 信鸽SDK所需权限 -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"/>

    <application
        android:name=".TribeApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="IQyEjPFYDZplZRNv5QViRNIWc3p1VtX4"/>
        <!--<meta-data-->
        <!--android:name="com.tencent.rdm.uuid"-->
        <!--android:value="3e1f9c2a-50fe-4372-b582-435b6c04626d"/>-->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <activity
            android:name=".view.activity.AppStartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="WEIXIN_APP_ID"
            android:value="wx1906c6844a4273e2"/>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".view.activity.SelfActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".view.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".view.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.MapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.IdentifyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.CompanyRegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.AddAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".view.activity.PhoneVerifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity
            android:name=".view.activity.PhoneVerifyActivity2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.WalletActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.BillActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.ConfirmActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".view.activity.UpdateWalletPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".view.activity.UpdateWalletPwdActivity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".view.activity.BillDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.BankCardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.AddBankCardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.OrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".view.activity.PropertyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.BindCompanyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.CompanyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.AddPartFixActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.PickCommunityActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.ModifyInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.ChooseCompanyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.CompanyDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.PropertyListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.PropertyFixDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.CaptureActivity"/>
        <activity android:name=".view.activity.BankPickActivity"/>
        <activity
            android:name=".view.activity.FeedbackActivity"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".view.activity.GuideActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.activity.WebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.OpenDoorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.DoorListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.VisitorListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.AddVisitorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".view.activity.CashActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.SignActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.Pay2MerchantActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".view.activity.Pay2MerchantSuccessActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.activity.DepartmentActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.activity.ContractActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.HousePaymentActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.AddRentWithholdActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.RentPaymentPlanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.RentPaySuccessActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action"-->
                <action android:name="android.intent.action"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.TempPwdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.UpdateDepartmentPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".view.activity.MainSearchActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".view.activity.CreditCompanyRepaymentActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".view.activity.StoreInfoActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".view.activity.CompanyManagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".view.activity.CompanyCreditActivity"
            android:screenOrientation="portrait"
            >
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".view.activity.DiscountActivity"/>
        <activity
            android:name=".view.activity.PayBillActivity"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name=".view.activity.CreditActivity"/>
        <activity android:name=".view.activity.CreditBillActivity"/>
        <activity android:name=".view.activity.CreditRepaymentActivity"/>

        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v3">
            <intent-filter android:priority="0x7fffffff">

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK"/>
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE"/>
                <!-- 【必须】 系统广播：网络切换 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>

                <!-- 【可选】 系统广播：开屏 -->
                <action android:name="android.intent.action.USER_PRESENT"/>

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
            <!-- 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 -->
            <intent-filter android:priority="0x7fffffff">
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>
                <action android:name="android.intent.action.MEDIA_REMOVED"/>
                <action android:name="android.intent.action.MEDIA_CHECKING"/>
                <action android:name="android.intent.action.MEDIA_EJECT"/>

                <data android:scheme="file"/>
            </intent-filter>
        </receiver>
        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushServiceV3"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v3"/>

        <!-- 【必须】 增强xg_service存活率  -->
        <service
            android:name="com.tencent.android.tpush.service.XGDaemonService"
            android:process=":xg_service_v3"/>


        <!-- 【必须】 通知service，其中android:name部分要改为当前包名 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <!-- 【必须】 请修改为当前APP名包.PUSH_ACTION，如demo的包名为：com.qq.xgdemo -->
                <action android:name="com.gs.buluo.app.PUSH_ACTION"/>
            </intent-filter>
        </service>

        <!-- 【必须】 【注意】authorities修改为 包名.AUTH_XGPUSH, 如demo的包名为：com.qq.xgdemo-->
        <provider
            android:name="com.tencent.android.tpush.XGPushProvider"
            android:authorities="com.gs.buluo.app.AUTH_XGPUSH"
            android:exported="true"
            />

        <!-- 【必须】 【注意】authorities修改为 包名.TPUSH_PROVIDER, 如demo的包名为：com.qq.xgdemo-->
        <provider
            android:name="com.tencent.android.tpush.SettingsContentProvider"
            android:authorities="com.gs.buluo.app.TPUSH_PROVIDER"
            android:exported="false"/>

        <!-- 【必须】 【注意】authorities修改为 包名.TENCENT.MID.V3, 如demo的包名为：com.qq.xgdemo-->
        <provider
            android:name="com.tencent.mid.api.MidProvider"
            android:authorities="com.gs.buluo.app.TENCENT.MID.V3"
            android:exported="true">
        </provider>


        <!-- 【必须】 请修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100259401"/>
        <!-- 【必须】 请修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="A5C16ZQH99EB"/>


        <!--应用宝下载更新-->
        <service
            android:name="com.tencent.tmdownloader.TMAssistantDownloadService"
            android:exported="false"
            android:process=":TMAssistantDownloadSDKService"/>

        <receiver android:name="cn.com.bsfit.android.update.FingerprintUpdateReceiver"/>

        <service android:name="cn.com.bsfit.android.collection.FingerprintService"/>

        <meta-data
            android:name="BS_KEY"
            android:value="1156775"/>
        <meta-data
            android:name="BS_SIGNATURE"
            android:value="9cWbNgUqiL91raHPVmrP"/>
    </application>


</manifest>